div .content {
    /* Use column and row alignment for layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

/*
    Table
*/
table {
    width: 100%;
    background-color: white;
}
td {
    text-align: center;
}
form {
    text-align: right;
}
#taskBtn {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: 0px;
    margin-bottom: 10px;
}

/* 
    Page numbers 
*/
div #pages {
    /* Horizontally center the input items for login on the page */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
button {
    width: fit-content;
    height: fit-content;
}
