button {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border-width: .5px;
    border-color: transparent;
    background-color: rgb(33, 67, 64);
    color: white;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    border-radius: 5px;
    border-width: .5px;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}